.Users {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  margin: 0 0.7rem;
}

@media (max-width: 1000px) {
  .Users {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 650px) {
  .Users {
    grid-template-columns: repeat(1, 1fr);
  }
}
